h2 {
  font-weight: 100;
  color: #BD1550;
  font-size: 30px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
h4 {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}
p.text {
  line-height: 1.2em;
}
table.arguments {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
table.arguments td {
  padding: 10px 15px;
  border: 1px solid #DDD;
  vertical-align: top;
}
table.arguments td.name {
  width: 110px;
}
